@import "tailwindcss";
@import "./styles/theme.css";

@theme {
  --font-primary: "Inter", system-ui, sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}